.obsidian

# Node.js:
node_modules

# Temp:
.AppleDouble
.DS_Store
.loadpath
.LSOverride
.settings/
[Dd]ebug*/
[Ll]og/
[Tt]emp/
*_vti_*
*.bak
*.cache
*.ignore
*.log
*.orig
*.swp
*.tmp
*.zip
*~
*~.nib
Desktop.ini
ehthumbs.db
local.properties
temp.*
Thumbs.db

# Visual Studio Code:
.vscode
