# Node.js:
node_modules

# Temp:
.loadpath
.settings/
[Ll]og/
[Tt]emp/
*_vti_*
*.bak
*.cache
*.ignore
*.log
*.orig
*.swp
*.tmp
*.zip
*~
*~.nib
local.properties
temp.*

# Visual Studio Code:
.vscode

# Windows:
Desktop.ini
ehthumbs.db
Thumbs.db
